button,
a {
    cursor: pointer;
    background-color: var(--none);
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrap{
    width: 375px;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    flex-direction: column;
}
s
::-webkit-scrollbar {
    display: none;
}

.none {
    display: none !important;
}

input {
    outline: none;
}