.backpage{
    width: 1980px;
    height: 1080px;
    background-color: #fff;
}
.center{
    width: 1250px;
    height: 1080px;
    margin-left: 365px;
    margin-right: 365px;
}
header{
    width: 1250px;
    height: 100px;
    background-color: #DE7D86;
}
main{
    width: 1250px;
    height: 880px;
}
.top{
    width: 1250px;
    height: 450px;
}
.bottom{
    width: 1250px;
    height: 430px;
    display: flex;
}
.left{
    width: 416px;
    height: 430px;
    background-color: #FFC5C5;
}
.middle{
    width: 418px;
    height: 430px;
    background-color: #FFA3A3;
}
.right{
    width: 416px;
    height: 430px;
    background-color: #54D8DC;
}
footer{
    width: 1250px;
    height: 100px;
    background-color: #6E6875;
}