#wrap32{
    margin: 0 auto;
    width: 1280px;
    height: 1080px;
}
header{
    width: 1280px;
    height: 100px;
    display: flex;
}
#logo{
    width: 200px;
    height: 100px;
    background-color: #EAE9EE;
}
#nav{
    width: 1080px;
    height: 100px;
    background-color: #C2C3D6;
}
main{
    width: 1280px;
    height: 880px;
    display: flex;
}
img{
    object-fit:cover;
}
article{
    height: inherit;
    width: 980px;
}
.a_top{
    width: inherit;
    height: 440px;
    display: flex;
}
#at_left{
    width: 250px;
    height: inherit;
}
.at_right{
    width: 730px;
    height: inherit;
}
#atl_righttop{
    width: inherit;
    height: 220px;
}
#atl_rightbottom{
    width: inherit;
    height: 220px;
}
#a_bottom{
    width: inherit;
    height: 440px;
}
#aside{
    width: 300px;
    height: inherit;
}
footer{
    width: 1280px;
    height: 100px;
    display: flex;
}
#f_left, #f_right{
    width: 200px;
    background-color:#3A258A;
}
#f_middle{
    width: 880px;
    background-color: #6469CD;
}
@media(max-width:680px){
    #wrap32{
        width: 100%;
    }
    header{
        width: 100%;
    }
    #logo{
        position: absolute;
        width: 30%;
        left: 240px;
    }
    #nav{
        width: 100%;
    }
    #atl_righttop{
        position: relative;
        top: 660px;
    }
    #atl_rightbottom{
        position: relative;
        top: 220px;
    }
    #a_bottom{
        position: relative;
        bottom: 440px;
    }
    #at_left{
        display: none;
    }
    footer{
        width: 100%;
    }
    #f_left, #f_right{
        width: 106px;
    }
    #f_middle{
        width: 468px;
    }
}
@media(max-width:450px){
    #wrap32{
        width: 100%;
    }
    header{
        width: 100%;
        display: flex;
    }
    #logo{
        position: absolute;
        left: 350px;
        width: 100px;
        justify-content: flex-end;
    }
    #nav{
        width: 100%;
    }
    #a_top{

    }
    #at_left{
        display: block;
        width: 225px;
    }
    #atl_righttop{
        position: absolute;
        bottom: 220px;
        top: 548px;
        left: 8px;
    }
    #atl_rightbottom{
        width: 225px;
        height: 440px;
        position: absolute;
        top: 108px;
        left: 230px;
    }
    #a_bottom{
        width: 225px;
        height: 220px;
        position: relative;
        top: 220px;
    }
    #aside{
        width: 225px;
        height: 220px;
        display: block;
        position: relative;
        top: 660px;
        right: 755px;
    }
    #f_left, #f_right{
        display: none;
    }
}
