#wrap{
    margin: 0 auto;
    width: 1250px;
    height: 1080px;
}
header{
    width: 1250px;
    display: flex;
}
header *{
    height: 100px;
}
#logo{
    width: 250px;
    background-color: #EEEEE9;
}
#nav{
    width: 1000px;
    background-color: #D6CCC2;
}
main{
    height: 880px;
}
#square{
    width: 500px;
    height: 500px;
    position: relative;
    left: 375px;
    bottom: 785px;
    background-color: #866756;
}
#m_top{
    width: 1250px;
    height: 440px;
    background-color: #F5ECE1;
}
.m_bottom{
    width: 1250px;
    height: 440px;
    display: flex;
}
#mb_lelft, #mb_right{
    width: 625px;
    height: 440px;
}
#mb_lelft{
    background-color: #E4D6CA;
}
#mb_right{
    background-color: #D5BEB1;
}
footer{
    width: 1250px;
    height: 100px;
    background-color: #D6CCC2;
}
@media(max-width:680px){
    #wrap{
        width: 100%;
    }
    #logo{
        display: none;
    }
    header{
        width: 100%;
    }
    #square{
        width: 235px;
        height: 235px;
        bottom: 335px;
        left: 0;
    }
    main{
        height: 881px;
    }
    #m_top{
        width: 100%;
        height: 293px;
    }
    .m_bottom{
        flex-direction: column;
        height: 588px;
        width: 100%;
    }
    #mb_lelft, #mb_right{
        height: 50%;
        width: 100%;
    }
    footer{
        width: 100%;
    }

}
@media(max-width:450px){
    #wrap{
        width: 100%;
        display: block;
    }
    #logo{
        display: none;
    }
    header{
        width: 100%;
    }
    #nemo{
        position: absolute;
        width: 200px;
        height: 200px;
        display: block;
        right: 7px;
    }
    #square{
        width: 200px;
        height: 200px;
        bottom: 981px;
    }
    main{
        height: 881px;
    }
    #m_top{
        width: 100%;
        height: 293px;
    }
    .m_bottom{
        flex-direction: column;
        height: 588px;
        width: 100%;
    }
    #mb_lelft, #mb_right{
        height: 50%;
        width: 100%;
    }
    footer{
        width: 100%;
    }
}