#wrap{
    margin: 0 auto;
    width: 1250px;
    height: 1280px;
}

header{
    width: 1250px;
    height: 100px;
    display: flex;
}
#logo{
    width: 250px;
    background-color: #54D8DC;
}
#nav{
    width: 1000px;
    background-color: #86DADC;
}
main{
    width: 1250px;
    display: flex;
}
.sc1,.sc2,.sc3{
    width: 33.3%;
    height: 880px;
    overflow: hidden;
    object-fit: cover;
}
footer{
    width: 1250px;
    height: 100px;
    display: flex;
}
#footerlogo{
    width: 250px;
    background-color: #FDE1E0;
}
.footernav{
    width: 1000px;
    height: 100px;
}
#f_navtop{
    height: 50px;
    background-color: #FECECE;
}
#f_navbottom{
    height: 50px;
    background-color: #FDB2B5;
}
@media(max-width:680px){
    #wrap{
        width: 100%;
    }
    header{
        flex-direction: column;
        height: 200px;
    }
    #logo{
        width: 100%;
        height: 100px;
    }
    #nav{
        width: 100%;
        height: 100px;
    }
    main{
        height: 680px;
        flex-direction: column;
    }
    .sc1,.sc2,.sc3{
        width: 100%;
        height: 33.3%;
    }
    footer{
        height: 200px;
        flex-direction:column;
    }
    #footerlogo{
        width: 100%;
        height: 100px;
    }
    .footernav{
        width: 100%;
        font-display:column;
    }
    #f_navtop,#f_navbottom{
        width: 100%;
        height: 50px;
    }
}
@media(max-width:450px){
    #wrap{
        width: 100%;
    }
    header{
        flex-direction: column;
        height: 200px;
    }
    #logo{
        width: 100%;
        height: 100px;
    }
    #nav{
        width: 100%;
        height: 100px;
    }
    main{
        height: 680px;
        flex-direction: column;
    }
    .sc1,.sc2{
        width: 100%;
        height: 50%;
    }
    .sc3{
        display: none;
    }
    footer{
        height: 200px;
        flex-direction:column;
    }
    #footerlogo{
        width: 100%;
        height: 200px;
    }
    .footernav{
        display: none;
    }
}