#wrap{
    margin: 0 auto;
    display: block;
    width: 1250px;
    height: 1000px;
}
.step1,.step2,.step3,.step4,.step5{
    width: 1250px;
}
#alone_box{
    width: 200px;
    height: 200px;
    position: relative;
    left:1000px;
    top: 200px;
}
.step1{
    height: 100px;
}
#box1{
    width: 100px;
    height: 100px;
}
.step2{
    height: 200px;
}
#box2{
    width: 200px;
    height: 200px;
    position: relative;
    left: 100px;
}
.step3{
    height: 300px;
}
#box3{
    width: 300px;
    height: 300px;
    position: relative;
    left: 300px;
}
.step4{
    height: 200px;
}
#box4{
    width: 200px;
    height: 200px;
    position: relative;
    left: 600px;
}
.step5{
    height: 200px;
}
#box5{
    width: 200px;
    height: 200px;
    position: relative;
    left: 800px;
}
#alone_box,#box1,#box2,#box3,#box4,#box5{
    background-color: black;
}