.backpage{
    width: 1980px;
    height: 1080px;
    background-color: #fff;
}
.center{
    width: 1250px;
    height: 1080px;
    margin: 0 auto;
}
header *{
    height: 100px;
}

header {
    display: flex;
}

header>.left{
    width: 250px;
    background-color: #54dcd8;
}

header>.right{
    width: 1000px;
    background-color: #86dadc;
}
main *{
    height: 880px;
}

main{
    width: 1250px;
    margin: 0 auto;
    display: flex;
}

main .sc1>img{
    width: 416px;
}

main .sc2 img{
    width: 418px;
}

main .sc3 img{
    width: 416px;
}
footer{
    width: 1250px;
    height: 100px;
    display: flex;
    margin: 0 auto;
}

footer .footleft{
    width: 250px;
    background-color: #fde1e0;
}

footer .foottop{
    width: 1000px;
    height: 50px;
    background-color: #fecece;
}

footer .footbottom{
    width: 1000px;
    height: 50px;
    background-color: #fdbeb5;
}