.backpage{
    width: 1980px;
    height: 1080px;
    background-color: #fff;
}
.center{
    width: 1250px;
    height: 1080px;
    margin: 0 auto;
}
header{
    width: 1250px;
    display: flex;
}
header *{
    height: 100px;
}

.hleft{
    width: 200px;
    background-color: #cccccc;
}

.hright{
    width: 1050px;
    background-color: #3b5a42;
}

main{
    width: 1250px;
    height: 880px;
    background-color: #dcd7cb;
}
.mtop{
    display: flex;
}
.mtopleft{
    width: 800px;
    height: 500px;
}

.mtopright{
    width: 450px;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 55px;
}

.msc1{
    width: 700px;
    height: 190px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 25px;
}

.msc2{
    width: 700px;
    height: 190px;
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.msc3{
    padding-top: 50px;
    margin-left:0;
    padding-right: 50px;
    padding-bottom: 50px;
}
.mbottom{
    display: flex;
    flex-wrap: wrap;
}
.mbottomleft{
    width: 585px;
    height: 330px;
    display: flex;
    flex-wrap: wrap;
}
.mbottomright{
    width: 665px;
    height: 330px;
}
.mbox1,.mbox2,.mbox3,.mbox4,.mbox5,.mbox6{
    width: 150px;
    height: 150px;
    background-color: #a1b189;

}

.mbox1{
    margin-left: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.mbox2{
    margin-bottom: 20px;
    margin-right: 20px;
}
.mbox3{
    margin-bottom: 20px;
    margin-right: 45px;
}
.mbox4{
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
}
.mbox5{
    margin-bottom: 50px;
    margin-right: 20px;
}
.mbox6{
    margin-bottom: 50px;
    margin-right: 45px;
}



.mbox7{
    width: 615px;
    height: 320px;
    background-color: #588158;
}

footer{
    width: 1250px;
    height: 100px;
    background-color: #334142;
}