
#wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 125px;
    h2{
        color: #31A062;
    }
}
#start_page{
    padding-left: 30px;
    padding-top: 154px;
    width: 300px;
    height: 273px;
}
#create_account{
    width: 354px;
    height: 60px;
    border-radius: 20px;
    background-color: #31A062;
    color: #fff;
    margin-top:101px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: px;
}

h1, h3{
    text-align: center;
}
h3{
    font-size: 15px;
}
p{
    font-size: 25px;
}